name: Generate SBOM (Go + CycloneDX)

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate CycloneDX SBOM
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: cyclonedx-json
          output-file: sbom-cyclonedx.json 
          artifact-name: sbom-cyclonedx.json

      - name: Upload SBOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3
        with:
          protocol: "http"
          serverHostname: ${{ secrets.DT_HOSTNAME }}
          port: "8081"
          apiKey: ${{ secrets.DT_APIKEY }}

          projectName: "${{ github.repository }}"
          projectVersion: "${{ github.ref_name }}"
          bomFilename: "sbom-cyclonedx.json"
          autoCreate: true
