name: Generate SBOM (Go + CycloneDX)

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate CycloneDX SBOM
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: cyclonedx-json
          output-file: sbom-cyclonedx.json 
          artifact-name: sbom-cyclonedx.json
   upload:
     runs-on: self-hosted

     steps:
        - name: Upload SBOM to Dependency-Track
          uses: DependencyTrack/gh-upload-sbom@v3
          with:
            serverHostname: ${{ secrets.DEPENDENCYTRACK_HOSTNAME }}
            apiKey: ${{ secrets.DT_APIKEY }}
            project: '9d5ae6e5-5d61-47b7-9470-048ed16d2168'
            bomFilename: "sbom-cyclonedx.json"
